# IO and imports

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline
data = pd.read_csv('./data/kobe/data.csv')
data.corr()

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id,shot_id
game_event_id,1.000000,-0.002553,-0.060091,-0.028404,0.060091,-0.028404,-0.270736,0.956042,-0.004507,-0.021293,0.062077,-0.037232,NaN,0.028478
game_id,-0.002553,1.000000,0.013021,-0.019553,-0.013021,-0.019553,0.014481,0.009879,0.917235,-0.007107,-0.030327,-0.001612,NaN,0.761656
lat,-0.060091,0.013021,1.000000,0.016217,-1.000000,0.016217,0.071462,-0.041248,-0.001143,0.052714,-0.818517,0.148070,NaN,-0.030790
loc_x,-0.028404,-0.019553,0.016217,1.000000,-0.016217,1.000000,0.006898,-0.028165,-0.012790,0.001083,0.022654,-0.000848,NaN,-0.019917
loc_y,0.060091,-0.013021,-1.000000,-0.016217,1.000000,-0.016217,-0.071462,0.041248,0.001143,-0.052714,0.818517,-0.148070,NaN,0.030790
lon,-0.028404,-0.019553,0.016217,1.000000,-0.016217,1.000000,0.006898,-0.028165,-0.012790,0.001083,0.022654,-0.000848,NaN,-0.019917
minutes_remaining,-0.270736,0.014481,0.071462,0.006898,-0.071462,0.006898,1.000000,-0.043425,0.015101,0.025558,-0.059767,0.028342,NaN,-0.005731
period,0.956042,0.009879,-0.041248,-0.028165,0.041248,-0.028165,-0.043425,1.000000,0.008789,0.005832,0.046993,-0.032152,NaN,0.000364
playoffs,-0.004507,0.917235,-0.001143,-0.012790,0.001143,-0.012790,0.015101,0.008789,1.000000,-0.002490,-0.008667,-0.001257,NaN,0.612571
seconds_remaining,-0.021293,-0.007107,0.052714,0.001083,-0.052714,0.001083,0.025558,0.005832,-0.002490,1.000000,-0.051482,0.030804,NaN,-0.004868
shot_distance,0.062077,-0.030327,-0.818517,0.022654,0.818517,0.022654,-0.059767,0.046993,-0.008667,-0.051482,1.000000,-0.198242,NaN,0.015695
shot_made_flag,-0.037232,-0.001612,0.148070,-0.000848,-0.148070,-0.000848,0.028342,-0.032152,-0.001257,0.030804,-0.198242,1.000000,NaN,-0.013016
team_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shot_id,0.028478,0.761656,-0.030790,-0.019917,0.030790,-0.019917,-0.005731,0.000364,0.612571,-0.004868,0.015695,-0.013016,NaN,1.000000

# Drop columns

In [3]:
ex1 = data.drop(['lat', 'lon'], axis=1)
ex1.head()

,action_type,combined_shot_type,game_event_id,game_id,loc_x,loc_y,minutes_remaining,period,playoffs,season,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,167,72,10,1,0,2000-01,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,12,20000012,-157,0,10,1,0,2000-01,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
2,Jump Shot,Jump Shot,35,20000012,-101,135,7,1,0,2000-01,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
3,Jump Shot,Jump Shot,43,20000012,138,175,6,1,0,2000-01,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
4,Driving Dunk Shot,Dunk,155,20000012,0,0,6,2,0,2000-01,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5

# Find NaNs

In [4]:
data.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id,shot_id
count,30697.000000,3.069700e+04,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,25697.000000,3.069700e+04,30697.000000
mean,249.190800,2.476407e+07,33.953192,7.110499,91.107535,-118.262690,4.885624,2.519432,0.146562,28.365085,13.437437,0.446161,1.610613e+09,15349.000000
std,150.003712,7.755175e+06,0.087791,110.124578,87.791361,0.110125,3.449897,1.153665,0.353674,17.478949,9.374189,0.497103,0.000000e+00,8861.604943
min,2.000000,2.000001e+07,33.253300,-250.000000,-44.000000,-118.519800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.610613e+09,1.000000
25%,110.000000,2.050008e+07,33.884300,-68.000000,4.000000,-118.337800,2.000000,1.000000,0.000000,13.000000,5.000000,NaN,1.610613e+09,7675.000000
50%,253.000000,2.090035e+07,33.970300,0.000000,74.000000,-118.269800,5.000000,3.000000,0.000000,28.000000,15.000000,NaN,1.610613e+09,15349.000000
75%,368.000000,2.960047e+07,34.040300,95.000000,160.000000,-118.174800,8.000000,3.000000,0.000000,43.000000,21.000000,NaN,1.610613e+09,23023.000000
max,659.000000,4.990009e+07,34.088300,248.000000,791.000000,-118.021800,11.000000,7.000000,1.000000,59.000000,79.000000,1.000000,1.610613e+09,30697.000000

# Split the data to train and test

In [8]:
from sklearn import cross_validation
X = data.dropna().drop(['shot_made_flag'], axis=1)
Y = data.dropna()['shot_made_flag']
print(len(X))
print(len(Y))
x_train, x_test, y_train, y_test = cross_validation.train_test_split(X, Y, test_size=0.8, random_state=42)
print(len(x_train))

25697
25697
5139

# KNN-model (need nonan values, and normalize features)

In [21]:
def remove_nans(data):
    data = data.dropna(axis=1, how='all')
    data = data.dropna(axis=0, how='any')
    for column_name in data.columns.values:
        try:
            data = data[np.isfinite(data[column_name])]
        except:
            pass
    return data

def process_strings(df):
    for i in range(len(df.columns)):
        if df.dtypes[i] == object:
            column = df.columns[i]
            df[column] = pd.to_numeric(df[column], errors='coerce')
    return df
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=3) # neighbors count need to set odd

X = remove_nans(process_strings(X))
clf.fit(X, Y)
res = clf.predict(remove_nans(process_strings(x_test)))
fails_count = 0
for (right, predicted) in zip(res, y_test):
    if right != predicted:
        fails_count += 1
print(fails_count, len(x_test))

4893 20558

# Random Forest model

In [28]:
from sklearn import ensemble
model = ensemble.RandomForestClassifier(n_estimators=3)
model.fit(remove_nans(process_strings(x_train)), y_train)
res = model.predict(remove_nans(process_strings(x_test)))
fails_count = 0
for (right, predicted) in zip(res, y_test):
    if right != predicted:
        fails_count += 1
print(fails_count, len(x_test))

9537 20558